@import '../../style/sass/mixins';
@import '../../style/sass/variables';

.products-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .product-card{
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: 3px 1px 14px 0 lightgray;
    border-radius: 0.6em;
  
    .product-image-container{
      display: flex;
      justify-content: center;
      img{
        border-radius: 0.4em;
      }
    }
    .product-info{
      padding: 1em;
      text-align: center;
  
      h5{
        margin: 0;
        font-weight: 700;
      }
      .product-rating{
        i{
          color: gold;
        }
      }
    }
  }
}

