

.header{
  max-width: 100%;
}

.top-nav-row div{
  display: inline-block;
}

.brand{
    color: white;
    margin-left: 2%;
    padding: 0.8em;
    width: 23%;
}

.inp-container input{
  display: inline-block;
  width: 75%;
  height: 2.5em;
}
.inp-container button{
  width: 10%;
  height: 2.5em;
  border: none;
  background-color: #dadada;
}

.select-btn{
 border: none;
 background-color: #dadada;
}

.login-container{
  width: 15%;
  color: white;
  text-align: right;
  margin: 1.7em 0.2em 0 0;
}
.login-container i,h5{
  display: inline-block;
}
.login-container a{
  text-decoration: none;
  color: white;
}

.cart-wishlist .list-icon{
  color: white;
  list-style-type: none;
  display: inline-block;
  margin-right: 0.5em;
}

.cart-wishlist {
  width: 7%;
  margin-top: 1.7em;
  margin-left: 1.7em;
}